<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="img/weather.png">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{!--load a partial --}}
            {{>header}}
            <img class="aboutImage" src="img/ori.jpg">
        </div>
        {{>footer}}

    </body>
</html>