<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="img/weather.png">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{!--load a partial --}}
            {{>header}}
            {{!-- <img class="aboutImage" src="img/ori.jpg"> --}}
            <p>Learning project about nodeJS</p>
            <p>We use weatherstack.com for weather data and mapbox.com to determine the location!</p>
        </div>
        {{>footer}}

    </body>
</html>